
.locationWidget .tc {
    width: 310px;
    height: 100px;
}

.locationWidget .tab {
    height: 65px;
}


.locationWidget .label {
    width: 80px;
    font-weight: bold;
    display: inline-block;
    padding-top: 2px;
}

.locationWidget .inputMGRS {
    width: 134px;
    display: inline-block;
    vertical-align: middle;
}

.locationWidget .selectLatLonFormat {
    width: 211px;
    display: inline-block;
    vertical-align: middle;
}

.locationWidget .inputDD {
    width: 135px;
    display: inline-block;
    vertical-align: middle;
}

.locationWidget .inputDMS {
    width: 35px;
    display: inline-block;
    vertical-align: middle;
}

.locationWidget .selectHemi {
    width: 60px;
    display: inline-block;
    vertical-align: middle;
}

.locationWidget .smallText {
    font-weight: normal;
    font-size: 7px;
}
