<div class="${theme}" role="presentation">
    
    <link rel="stylesheet" href="${css_path}"/>
    
    <div data-dojo-attach-point="tc" data-dojo-type="dijit/layout/TabContainer" data-dojo-props="doLayout:false" class="${css.tc}">
    
    
        <div data-dojo-attach-point="tabMGRS" data-dojo-type="dijit/layout/ContentPane" title="MGRS" class="tab" data-dojo-props="selected:true"><br />
            <label for="inputMGRS" class="${css.label}">MGRS:</label>
            <input data-dojo-attach-point="inputMGRS" id="inputMGRS" type="text" value="" class="${css.inputMGRS}" />
        </div>
        
        
        <div data-dojo-attach-point="tabUTM" data-dojo-type="dijit/layout/ContentPane" title="UTM" class="tab"><br />
            <label for="inputUTM" class="${css.label}">UTM:</label>
            <input data-dojo-attach-point="inputUTM" id="inputUTM" type="text" value="" class="${css.inputMGRS}" />
        </div>
        
        
        <div data-dojo-attach-point="tabLatLon" data-dojo-type="dijit/layout/ContentPane" title="Lat/Lon" class="tab">
            
            <label for="selectLatLonFormat" class="${css.label}">Format:</label>
            <select data-dojo-attach-point="selectLatLonFormat" type="text" class="${css.selectLatLonFormat}" data-dojo-attach-event="onchange:_changeLatLonFormat">
                <option value="DD" selected="selected">Decimal Degrees</option>
                <option value="DMS">Degrees, Minutes, Seconds</option>
            </select>
            
            
            
            <div data-dojo-attach-point="divDD">
                <label for="inputLatDD" class="${css.label}">Latitude:</label>
                <input data-dojo-attach-point="inputLatDD" id="inputLatDD" type="text" value="" class="${css.inputDD}" />&deg;
                <select data-dojo-attach-point="selectLatDDHemi" type="text" class="${css.selectHemi}">
                    <option value="North" selected="selected">North</option>
                    <option value="South">South</option>
                </select>
                <br />
                <label for="inputLonDD" class="${css.label}">Longitude:</label>
                <input data-dojo-attach-point="inputLonDD" id="inputLonDD" type="text" value="" class="${css.inputDD}" />&deg;
                <select data-dojo-attach-point="selectLonDDHemi" type="text" class="${css.selectHemi}">
                    <option value="West" selected="selected">West</option>
                    <option value="East">East</option>
                </select>
            </div>
            
            <div data-dojo-attach-point="divDMS" style="display:none;">
                <label for="inputLatD" class="${css.label}">Latitude:</label>
                <input data-dojo-attach-point="inputLatD" id="inputLatD" type="text" value="" class="${css.inputDMS}" />&deg;
                <input data-dojo-attach-point="inputLatM" type="text" value="" class="${css.inputDMS}" />'
                <input data-dojo-attach-point="inputLatS" type="text" value="" class="${css.inputDMS}" />"
                <select data-dojo-attach-point="selectLatDMSHemi" type="text" class="${css.selectHemi}">
                    <option value="North" selected="selected">North</option>
                    <option value="South">South</option>
                </select><br />
                <label for="inputLonD" class="${css.label}">Longitude:</label>
                <input data-dojo-attach-point="inputLonD" id="inputLonD" type="text" value="" class="${css.inputDMS}" />&deg;
                <input data-dojo-attach-point="inputLonM" type="text" value="" class="${css.inputDMS}" />'
                <input data-dojo-attach-point="inputLonS" type="text" value="" class="${css.inputDMS}" />"
                <select data-dojo-attach-point="selectLonDMSHemi" type="text" class="${css.selectHemi}">
                    <option value="West" selected="selected">West</option>
                    <option value="East">East</option>
                </select>
            </div>
            
        </div>
        
        
        <div data-dojo-attach-point="tabw3w" data-dojo-type="dijit/layout/ContentPane" title="w3w" class="tab"><br />
            <label for="inputw3w" class="${css.label}">what3words:</label>
            <input data-dojo-attach-point="inputw3w" id="inputw3w" type="text" value="" class="${css.inputw3w}" />
        </div>
        
        
        
    </div>
    
    <center>
        <button data-dojo-attach-event="onclick:_onGoTo">Go To</button>
        <button data-dojo-attach-event="onclick:_onAddPoint">Add Point</button>
        <button data-dojo-attach-event="onclick:_onClearGraphic">Clear</button>
    </center>
    <center><span class="${css.smallText}">Note: Assumes a datum of WGS84.
    <br />Click the map to fill coordinates.</span></center>
</div>